@use "./_funcs.module.scss" as *;
@use "./_history.module.scss" as *;
@use "./_buttons.module.scss" as *;
@include history;
.display {
  @include flex_center(column, center, center);
  color: $screen_color;
  overflow: hidden;
  border: $screen_border;
  font-size: map-get($map: $font_size, $key: "large");
  :first-child {
    align-items: flex-start;
  }
}
.display_result {
  height: 15px;
  color: rgba(255, 255, 255, 0.453);
  align-self: flex-start;
  font-size: $screen_resultSize;
  overflow: hidden;
}
.empty1 {
  @include grid(1, 3, 1);
  border: $prime_border;
  border-bottom: none;
}
.empty2 {
  @include grid(2, 3, 2, 5);
  border: $prime_border;
  border-bottom: none;
}
.empty {
  border: $prime_border;
}
.main_mid {
  @include grid_template(1fr 2fr, 1fr);
  button {
    @include btn(transparent, pointer, 28px, $prime_border);
    @include flex_center;
    &:hover {
      background: rgba(0, 0, 0, 0.1) !important;
    }
    &:active {
      background: rgba(0, 0, 0, 0.2) !important;
    }
  }
}
.screen_rows {
  @include grid_template(1.03fr 1.4fr 1fr, 1.1fr 4.3fr 1fr);
}
.numbers_rows {
  @include grid_template(1fr 1fr 1fr 1.7fr, auto);
  > div {
    @include grid_template(auto, 1.1fr 1.4333333fr 1.433333fr 1.4333333fr 1fr);
  }
}
.none {
  @include border_radios(bottom, left, 10px);
  @include border_radios(top, left, 10px);
  border-top: $prime_border;
  border-left: none;
}
.none1 {
  @include border_radios(bottom, right, 10px);
  @include border_radios(top, right, 10px);
  border-top: $prime_border;
  border-left: $prime_border;
  border-bottom: $prime_border;
  border-right: none;
}
@media only screen and (max-width: 700px) {
  .main_mid {
    @include border_radios(top, left, 10px);
    @include border_radios(top, right, 10px);
    @include grid(1, 1, 1, 2);
    button {
      font-size: map-get($map: $font_size, $key: "small");
    }
  }
  .top-col-numbers,
  .mid-col-numbers,
  .bot-col-numbers,
  .last-col-numbers {
    @include grid_template(1fr, 50px 73.33px 73.33px 73.33px 40px);
  }
  .display {
    font-size: map-get($map: $font_size, $key: "small");
  }
  .none {
    @include grid(1, 2, 3, 4);
    height: 100%;
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .main_mid {
    button {
      font-size: map-get($map: $font_size, $key: "xsmall");
    }
  }
}
@media only screen and (max-width: 350px) {
  .main_mid {
    button {
      font-size: map-get($map: $font_size, $key: "xxsmall");
    }
  }
}
