@use "./funcs.module.scss" as *;
.body {
  @include flex_center;
  @include size(100vw, 100vh);
  cursor: default;
  font-family: "Roboto", sans-serif;
  margin: auto;
  position: relative;
}
.wrap {
  @include size(660px, 450px);
  box-shadow: 0 0 35px 20px rgba(0, 0, 0, 0.333);
  border-radius: 10px;
  z-index: 1;
}
.main {
  @include grid_template(auto, 2.1fr 5.6fr 1.9fr);
  @include size(auto, 100%);
}

@media only screen and (max-width: 700px) {
  .main {
    @include grid_template(1fr 100px 100px, 1fr);
    button {
      font-size: map-get($map: $font_size, $key: "small");
    }
  }
  .wrap {
    @include size(450px, 550px);
  }
}
@media only screen and (max-width: 500px) {
  .body {
    min-width: 200px;
    position: fixed;
  }
  .wrap {
    @include size(310px, 466px);
  }
  .main {
    @include grid_template(1fr 80px 80px, 1fr);
    div {
      font-size: map-get($map: $font_size, $key: "xxsmall");
    }
  }
}
@media only screen and (max-width: 350px) {
  .wrap {
    @include size(260px, 450px);
  }
}
@media only screen and (max-height: 550px) {
  .main {
    align-content: flex-start;
  }
}
