@use "./funcs.module.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,200;1,400&display=swap");
.info_wrapper {
  @include flex_center(column, center, center);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.399);
  font-family: "Source Sans Pro", sans-serif;
}
.info_block {
  @include flex_center(column, center, center);
  box-shadow: 0 0 35px 20px rgba(0, 0, 0, 0.269);
  border-radius: 15px;
  background-color: rgba(232, 230, 230, 0.9);
  width: 80%;
  height: 80%;
  max-width: 800px;
  max-height: 700px;
  position: relative;
  padding: 30px;
  gap: 20px;
  h2 {
    position: absolute;
    top: 20px;
    text-align: center;
  }
}
.howtouse {
  @include grid_template(auto auto, 1fr 1fr 1fr 1fr);
  font-size: 16px;
  gap: 10px;

  section {
    @include flex_center(column, flex-start, flex-start);
    border: $prime_border;
    border-radius: 10px;
    padding: 8px;

    p {
      font-family: "Source Sans Pro", sans-serif;
    }
    svg {
      font-size: 35px;
      align-self: center;
    }
  }
  span {
    font-weight: map-get($map: $font_weight, $key: "medium");
    align-self: center;
    padding-top: 3px;
    padding-bottom: 5px;
  }
}
.devinfo {
  position: absolute;
  padding: 0 20px;
  bottom: 20px;
  @include flex_center(column, space-between, center);
  width: 100%;
  gap: 3px;
  div {
    width: 100%;
    font-size: 15px;
    @include flex_center(row, space-between, flex-start);
  }
}
.about_exit_btn {
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  font-size: 25px;
  padding: 15px;
  svg {
    cursor: pointer;
    transition: all 1s;
    &:hover {
      transform: scale(1.1);
    }
  }
}
.usedlang {
  height: auto;
  section {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  width: 100%;
}
@media only screen and (max-width: 700px) {
  .howtouse {
    font-size: 13px;
    gap: 2px;
    section {
      padding: 5px;
      svg {
        font-size: 25px;
        align-self: center;
      }
    }
    span {
      font-size: 14px;
    }
  }
  .devinfo {
    h3 {
      font-size: 16px;
    }
    section {
      font-size: 14px;
    }
  }
}
@media only screen and (max-width: 500px) {
  .info_block {
    @include flex_center(column, center, center);
    width: 96%;
    height: 90%;
    position: relative;
    padding: 12px;
  }
  .howtouse {
    @include grid_template(70px 70px 70px 70px, 1fr 1fr);
    font-size: 12px;
    section {
      padding: 2px;
      svg {
        font-size: 16px;
      }
    }
    span {
      font-size: 11px;
      padding-top: 1px;
      padding-bottom: 2px;
    }
  }
  .devinfo {
    h3 {
      font-size: 14px;
    }
    section {
      font-size: 12px;
    }
  }
  .about_exit_btn {
    font-size: 20px;
    padding: 10px;
  }
}
@media only screen and (max-width: 350px) {
  .info_block {
    width: 100%;
    height: 100%;
    padding: 8px;
  }
  .howtouse {
    section {
      padding: 2px;
      svg {
        font-size: 16px;
      }
    }
    span {
      font-size: 12px;
      padding-top: 1px;
      padding-bottom: 2px;
    }
  }
  .devinfo {
    section {
      font-size: 10px;
    }
    h3 {
      font-size: 12px;
    }
  }
  .about_exit_btn {
    font-size: 18px;
    padding: 5px;
  }
}
@media only screen and (max-width: 250px) {
  .info_block {
    padding: 4px;
  }
  .howtouse {
    section {
      padding: 2px;
      svg {
        font-size: 12px;
      }
    }
    span {
      font-size: 8px;
      padding-top: 1px;
      padding-bottom: 0;
    }
    p {
      font-size: 10px;
    }
  }
  .devinfo {
    h3 {
      font-size: 10px;
    }
    section {
      font-size: 8px;
    }
  }
}
@media only screen and (max-height: 760px) {
  .info_block {
    height: 90%;
    h2 {
      font-size: 20px;
    }
  }
  .howtouse {
    section {
      svg {
        font-size: 18px;
      }
    }
  }
  .devinfo {
    h3 {
      font-size: 14px;
    }
    div {
      font-size: 11px;
    }
  }
  .usedlang {
    section {
      font-size: 16px;
      gap: 10px;
    }
  }
}
@media only screen and (max-height: 560px) {
  .info_block {
    height: 90%;
    gap: 10px;
    overflow-y: auto;
    h2 {
      font-size: 18px;
    }
  }
  .howtouse {
    font-size: 12px;
    section {
      svg {
        font-size: 16px;
      }
    }
  }
  .usedlang {
    section {
      gap: 10px;
      font-size: 12px;
    }
  }
}
@media only screen and (max-height: 560px) {
  .info_block {
    height: 98%;
    h2 {
      font-size: 18px;
    }
  }
  .howtouse {
    font-size: 12px;
    section {
      svg {
        font-size: 16px;
      }
    }
  }
}
@media only screen and (max-height: 480px) {
  .info_block {
    position: absolute;
    top: 0;
    min-height: 430px;
    h2 {
      font-size: 14px;
    }
  }
  .howtouse {
    @include grid_template(60px 60px 60px 60px, 1fr 1fr);
    font-size: 10px;
    section {
      svg {
        font-size: 12px;
      }
    }
    span {
      font-size: 10px;
    }
  }
  .usedlang {
    section {
      gap: 4px;
      font-size: 10px;
    }
  }
}
