@use "./funcs.module.scss" as *;
.settings_block {
  @include flex_center(column, center, center);
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.805);
  width: 80%;
  height: 80%;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
  max-width: 700px;
  main {
    @include flex_center(column, space-around, center);
    gap: 5px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    #close {
      position: absolute;
      background: transparent;
      border: none;
      top: 0;
      right: 0;
      .exit {
        font-size: 25px;
        cursor: pointer;
        transition: all 1s ease;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    div {
      width: 100%;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px 5px;
      max-height: 170px;
      gap: 10px;
      button {
        cursor: pointer;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        transition: all 1s ease;
        &:hover {
          transform: scale(1.1);
          box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
        }
      }
    }
    p {
      height: 20px;
      size-adjust: 32px;
      text-align: center;
    }
  }
}
.settings_wrapper {
  @include flex_center(column, center, center);
  position: absolute;
  width: 100vw;
  height: 100%;
  left: 0;
  top: 0;
  @include flex_center(column, center, center);
}

.background_choose_block {
  flex-direction: row !important;
  background-color: transparent;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.dark_light_mode {
  flex-direction: row !important;
  box-shadow: none !important;
  height: 70px;
  align-items: center;
  justify-content: center !important;
  gap: 80px !important;
  svg {
    font-size: 25px;
  }
  button {
    width: 65px !important;
    height: 65px !important;
  }

  .d_l_mode {
    padding-top: 0;
    gap: 25px;
  }
}
.font_choose_wrapper {
  flex-direction: row !important;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.bg1 {
  background: #65005ecc;
}
.bg2 {
  background: #3c84cecc;
}
.bg3 {
  background: #30eee2cc;
}
.bg4 {
  background: linear-gradient(
    315deg,
    #1a2a6c 3%,
    #b21f1f 38%,
    #fdbb2d 68%,
    #b21f1f 98%
  );
  animation: gradient 5s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}
.bg5 {
  background: linear-gradient(
    315deg,
    rgba(101, 0, 94, 1) 3%,
    rgba(60, 132, 206, 1) 38%,
    rgba(48, 238, 226, 1) 68%,
    rgba(255, 25, 25, 1) 98%
  );
  animation: gradient 5s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  @keyframes gradient {
    0% {
      background-position: 0% 0%;
    }
    35% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
}
.ft1,
.ft2,
.ft3,
.ft4,
.ft5 {
  font-size: 30px;
  @include flex_center(column, center, center);
}
.ft1 {
  font-style: italic;
}
.ft2 {
  font-family: serif;
  font-weight: 600;
}
.ft3 {
  font-family: monospace;
  font-weight: 600;
}
.ft4 {
  font-family: cursive;
}
.ft5 {
  font-family: "Verdana";
}
@media only screen and (max-width: 700px) {
  .settings_block {
    width: 90%;
    div {
      button {
        width: 60px !important;
        height: 60px !important;
      }
    }
  }
  .settings_wrapper {
    position: absolute;
    left: 0;
    top: 0;
  }
}
@media only screen and (max-width: 350px) {
  .settings_block {
    padding: 2px;
    width: 100%;
    min-width: 240px;
    overflow-x: auto;
    div {
      button {
        width: 50px !important;
        height: 50px !important;
      }
    }
  }
  .settings_wrapper {
    min-width: 240px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.399);
  }
}
@media only screen and (max-height: 350px) {
  .settings_wrapper {
    height: 350px;
    min-height: 350px;
  }
  .settings_block {
    position: absolute;
    top: 0;
    min-height: 350px;
  }
}
